/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ausargph -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
workDir = '/scratch/pawsey0843/nf-tower-dir'
singularity.cacheDir = '/software/projects/pawsey0843/singularity'

params {
    config_profile_name        = 'Setonix profile'
    config_profile_description = 'Configuration to run on Setonix supercomputer at Pawsey'


    fasta = "/scratch/pawsey0843/angela/database/hmf_resources/38/GRCh38_masked_exclusions_alts_hlas.fasta"
    intervals = "/software/projects/pawsey0843/data_library/interval_lists.17/"
    vep_cache = "/scratch/pawsey0843/angela/database/vcfanno/vep_cache/"
    vep_plugins = "/scratch/pawsey0843/angela/database/vcfanno/vep_plugins/"
    vcfanno_toml= "/scratch/pawsey0843/angela/database/vcfanno/vcfanno_hg38_110722.toml"
    vcfanno_resources = "/scratch/pawsey0843/angela/database/vcfanno"
    vcfanno_lua_func = "/scratch/pawsey0843/angela/database/vcfanno/vcfanno_functions.lua"
    vcf2tsv_preferred_transcript = "/scratch/pawsey0843/angela/database/vcfanno/pref_transcript_hg38.tsv"
    vcf2tsv_config = "/scratch/pawsey0843/angela/database/vcfanno//config_v1.4.4.py"


    // Limit resources so that this can run on GitHub Actions
    // Max resource options
    // Defaults only, expecting to be overwritten

    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '24.h'

}

// Enable use of Singularity to run containers
singularity {
    enabled     = true
    autoMounts  = true
    autoCleanUp = true
    pullDockerContainer = true
    cacheDir = "/software/projects/pawsey0843/singularity"
    
}

// Submit up to 256 concurrent jobs (Setonix work partition max)
executor {
    queueSize = 1024
}
 

process {
    executor = 'slurm'
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    clusterOptions = "--account=pawsey0843"
    module         = 'singularity/4.1.0-slurm'
    cache          = 'lenient'
    stageInMode    = 'symlink'
    queue          = { task.memory < 230.GB ? 'work' : (task.memory > 230.GB && task.memory <= 980.GB ? 'highmem' : '') }

}
